<h1>Welcome to VG Organizer!!</h1><br>
<p> Keeping track of your collection so you dont have to!</p><br><br>

<p>Enter your login info below:</p>
<form method="post" action="/login">
<p>Email:</p><input type="text" name="email">
<p>Password:</p><input type="password" name="password">
<input type="submit" value="Login">
</form>

<p>No Account? No problem!</p>
<br>
<a href="">sign up!