<head>
<h1>Welcome to VG Organizer!!</h1><br>
<p> Keeping track of your collection so you dont have to!</p><br>

<p>Enter your login info below:</p>
<form method="post" action="/login">
<input type="text" name="email" placeholder="Email:">
<input type="password" name="password" placeholder="Password:">
<input type="submit" value="Login">
</form>
<br>
<br>
<p>No Account? No problem!</p>

<a href="/signup">Click here to sign up!</a>
</head>
