<h1>Welcome to VG Organizer!!</h1><br>
<p> Keeping track of you collection so you dont have to!</p>

Player Login:
<form method="post" action="/login">
<p>Email:</p><br><input type="text" name="email"><>
<p>Password:</p><br><input type="text" name="password">

</form>