<title>Need to make a Change?</title>

<h1>Update your information!</h1>

<form method="POST" action="/games/<%= @game.id %>">
<input type="hidden" id="hidden" name="_method" value="PATCH">
<h3>Title: </h3><input type="text" name="title">
<h3>Console: </h3><input type="text" name="console">
<h3>Genre: </h3><input type="text" name="genre">
<h3>What's it about? </h3><input type="text" name="description">
<h3>Have you finished? </h3><input type="text" name="complete">
<input type="submit" value="Submit">
</form>