<title>Index</title>

<h1>Welcome to your Collection, <%= @user.username %>!</h1><br>
<%@games.each do |game|%>
<p><a href='/games/<%= game.id%>'><%=game.title%></a></p><br>
<%end%>
<br>
<br>


<p><a href="/games/new">Did you pick up anything new today?</a></p>