<title>So you bought a new game?</title>

<h1>Register that newness in your organizer!!</h1>

<form method="POST" action="/games">
<h3>Title: </h3><input type="text" name="title">
<h3>Console: </h3><input type="text" name="console">
<h3>Genre: </h3><input type="text" name="genre">
<h3>What's it about? </h3><input type="text" name="description">
<h3>Completed: </h3><input type="text" name="complete"><br><br>
<input type="submit" value="Submit">
</form>